{% extends 'layout.html' %}
{% block body %}
<body>
  <div class=breadcrumb>
    <a href="/library">Library</a> &gt; Albums
  </div>
  <div class="library-nav">
    {% for album in albums %}
      <a href="/library/albums/{{ album.id }}">{{ album.name }}</a>
      <button type="button" onclick="play_now({{ album.id }})">play</button>
      <button type="button" onclick="add_album({{ album.id }})">add</button>
      <button type="button" onclick="play_next({{ album.id }})">play next</button>
      <br/>
    {% endfor %}
</body>
{% endblock %}

