{% extends 'layout.html' %}
{% block body %}
<body onload="player_states()">
  <script>
    function play_pause(player_id){
      var b = document.getElementById(player_id);
      var request = new XMLHttpRequest();
      request.onload = function(){
        render_player(JSON.parse(request.responseText));
      }
      var postData ={};
      if(b.innerHTML == "play"){
        postData['state'] = "play";
      }else{
        postData['state'] = "pause";
      }
      request.open("PATCH","/players/" + player_id,true);
      request.setRequestHeader("Content-Type","application/json;charset=UTF-8");
      request.send(JSON.stringify(postData));
    }
    function player_states(){
      {% for player in players %}
        player_state('{{ player.id }}')
      {% endfor %}
    }
    function player_state(player_id){
      var b = document.getElementById(player_id);
      var v = document.getElementById(player_id + "-volume");
      var request = new XMLHttpRequest();
      request.onload = function(){
        render_player(JSON.parse(request.responseText));
      }
      request.open("GET","/players/" + player_id,true);
      request.setRequestHeader("Content-Type","application/json;charset=UTF-8");
      request.send();
    }
    function volume(player_id,vol){
      var v = document.getElementById(player_id + "-volume");
      var request = new XMLHttpRequest();
      request.onload = function(){
        render_player(JSON.parse(request.responseText));
      }
      var postData = {};
      postData['volume'] = vol;
      request.open("PATCH","/players/" + player_id,true);
      request.setRequestHeader("Content-Type","application/json;charset=UTF-8");
      request.send(JSON.stringify(postData));
    }
    function render_player(state){
      var player_id = state['id'];
      var track = state['current_track'];
      document.getElementById(player_id + '-current-title').innerHTML = track['title'];
      document.getElementById(player_id + '-current-album').innerHTML = track['album'];
      document.getElementById(player_id + '-current-artist').innerHTML = track['artist'];
      document.getElementById(player_id + '-volume').innerHTML = state['volume'];
      var action = 'play';
      if(state['state']== 'play'){
        action = 'pause';
      }
      document.getElementById(player_id + '-action').innerHTML = action;
    }
  </script>
  <table class=players>
    {% for player in players %}
      <tr>
        <td><button type="button">v</button></td>
        <td><a href="/player/{{ player.id }}">{{ player.name }}</a><td>
        <td id="{{ player.id }}-current-title">.</td>
        <td id="{{ player.id }}-current-album">.</td>
        <td id="{{ player.id }}-current-artist">.</td>
        <td><button id="{{ player.id }}-action" type="button" onclick="play_pause('{{ player.id }}')">...</button></td>
        <td><button type="button" onclick="volume('{{ player.id }}', '-5')">&lt;</button></td>
        <td id="{{ player.id }}-volume">.</td>
        <td><button type="button" onclick="volume('{{ player.id }}', '+5')">&gt;</button></td>
      </tr>
    {% else %}
      <li><em>No players found.</em>
    {% endfor %}
  </table>
<body>
{% endblock %}
