<!doctype html>
<html lang="en">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='single_page.css') }}"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
  <!--<script type"text/javascript" src="{{ url_for('static', filename='squeezebox_mqtt.js') }}"/>-->
  <script> //TODO: extract script to static file (with versioning to force reload)
    var mqtt;
    var reconnectTimeout = 2000;
    var host = "{{ mqtt_broker_host }}";
    var port = {{ mqtt_broker_port }};
    
    //TODO: replace getElementById lookups with globals for fixed elements?
    var selected_player_id = null;

    function onConnect(){
      console.log("Connected");
      mqtt.subscribe("squeezebox/players/+");
      // TODO: replace *-get with web service call?
      var message = new Paho.MQTT.Message("");
      message.destinationName = "squeezebox/players-get";
      mqtt.send(message);
    }

    function onFailure(msg){
      console.log("Connection attempt to " + host + ":" + port + " failed.");
      setTimeout(MQTTConnect, reconnectTimeout);
    }

    function onMessageArrived(msg){
      console.log("Message received on topic: ", msg.destinationName);
      var topic = msg.destinationName.split('/');
      if(topic[0] == 'squeezebox'){
        var json_msg = JSON.parse(msg.payloadString);
        if(topic[1] == 'players'){
          renderPlayer(json_msg);
          renderPlaylist(json_msg);
        }
      }
    }

    function player_command(player_id, cmd){
      var msg = new Paho.MQTT.Message(cmd)
      msg.destinationName = 'squeezebox/players/' + player_id + '/command';
      mqtt.send(msg);
    }

    function show_hide_played(){
      var show_played = document.getElementById("show-played-tracks").checked;
      var playlists = document.getElementById("playlists");
      var tracks = playlists.getElementsByClassName("played");
      for(var i = 0; i < tracks.length; i++){
        if(show_played){
          tracks[i].style.display = null;
        }else{
          tracks[i].style.display = "none";
        }
      }
    }


    function renderPlaylist(json_player){
      console.log("Rendering playlist for", json_player.id);
      if(!document.getElementById("playlist-" + json_player.id)){
        console.log("Creating new playlist...");
        var all_playlists = document.getElementById("playlists");
        var playlist = document.createElement("div");
        playlist.id = "playlist-" + json_player.id;
        playlist.className = "playlist";
        if(selected_player_id != json_player.id){
          playlist.style.display = "none";
        }
        all_playlists.appendChild(playlist);
      }
      var playlist = document.getElementById("playlist-" + json_player.id);
      playlist.innerHTML = "";
      for(var track in json_player.playlist){
        var album = json_player.playlist[track].album;
        if(!album){
          album = json_player.playlist[track].title;
        }
        var div_track = document.createElement("div");
        if(json_player.playlist[track].index < json_player.playlist_current_index){
          div_track.className = "played track";
        }else if(json_player.playlist[track].index == json_player.playlist_current_index){
          div_track.className = "current track";
        }else{
          div_track.className = "track";
        }
        div_track.innerHTML = 
          "<div class=index>" + json_player.playlist[track].index + "</div>" +
          "<div class=title>" + json_player.playlist[track].title + "</div>" +
          "<div class=album>" + album + "</div>" +
          "<div class=artist>" + json_player.playlist[track].artist + "</div>" +
          "<div class=playback>" +
            "<button type=button title='Remove' onclick='playlist_delete(\"" +
              json_player.id + "\"," + json_player.playlist[track].index + ")'>x</button>" +
          "</div>";
        playlist.appendChild(div_track);
      }
      show_hide_played();
    }

    function player_selected(player_id){
      console.log("player_selected:", player_id);
      selected_player_id = player_id;
      var playlists = document.getElementById("playlists");
      var playlist_elements = playlists.getElementsByClassName("playlist");
      for(var i = 0; i < playlist_elements.length; i++){
        playlist_elements[i].style.display = "none";
      }
      document.getElementById("playlist-" + player_id).style.display = "table";
    }

    function renderPlayer(json_player){
      console.log("Player to render:", json_player)
      if(!document.getElementById("player-row-" + json_player.id)){
        // add a row for this player
        console.log("Adding row for ", json_player.id, "...");
        var table_players = document.getElementById("players-list");
        var row_player = document.createElement("div");
        row_player.id = "player-row-" + json_player.id;
        row_player.className = "player";
        table_players.appendChild(row_player);
        var playback = document.createElement("div");
        playback.className = "playback";
        var html = // TODO: invalid stuff is rejected. need to format the whole thing first!
          "<input type=radio name=player-select onchange=\"player_selected('" + json_player.id + "')\"";
        if(!selected_player_id){
          selected_player_id = json_player.id;
          html += " checked";
        }
        html += 
          "/>" +
          "<button type=button onclick=\"player_command('" + json_player.id + "','track_previous')\">|&lt;</button>" +
          "<button type=button id=\"play-pause-" + json_player.id + "\">...</button>" +
          "<button type=button onclick=\"player_command('" + json_player.id + "','track_next')\">&gt;|</button>";
        playback.innerHTML += html;
        row_player.appendChild(playback);
        var volume = document.createElement("div");
        volume.className = "volume";
        volume.innerHTML = 
          "<button type=button onclick=\"player_command('" + json_player.id + "','volume_inc')\">^</button>" +
          "<button id=player-volume-" + json_player.id + " >...</button>" +
          "<button type=button onclick=\"player_command('" + json_player.id + "','volume_dec')\">v</button>";
        row_player.appendChild(volume);
        var player_location = document.createElement("div");
        player_location.id = "player-location-" + json_player.id;
        player_location.className = "location";
        row_player.appendChild(player_location);
        var title = document.createElement("div");
        title.id = "player-title-" + json_player.id;
        title.className = "title";
        row_player.appendChild(title);
        var artist = document.createElement("div");
        artist.id = "player-artist-" + json_player.id;
        artist.className = "artist";
        artist.innerHTML = json_player.artist;
        row_player.appendChild(artist);
        var album = document.createElement("div");
        album.id = "player-album-" + json_player.id;
        album.className = "album";
        row_player.appendChild(album);
      }
      // update values
      document.getElementById("player-volume-" + json_player.id).innerHTML = json_player.volume;
      document.getElementById("player-location-" + json_player.id).innerHTML = json_player.name;
      document.getElementById("player-artist-" + json_player.id).innerHTML = json_player.artist;
      document.getElementById("player-title-" + json_player.id).innerHTML = json_player.track;
      if(json_player.album){
        document.getElementById("player-album-" + json_player.id).innerHTML = json_player.album;
      }else{
        document.getElementById("player-album-" + json_player.id).innerHTML = json_player.title;
      }
      var play_pause = document.getElementById("play-pause-" + json_player.id);
      if(json_player.mode == "play"){
        play_pause.innerHTML = "pause";
        play_pause.onclick = function() { player_command(json_player.id, "pause"); };
      }else{
        play_pause.innerHTML = "play";
        play_pause.onclick = function() { player_command(json_player.id, "play"); };
      }
    }

    function MQTTConnect(){
      console.log("Connecting to {{ mqtt_broker_host }}:{{ mqtt_bocker_port }}...");
      mqtt = new Paho.MQTT.Client(host, port, "js-single-page"); //TODO: make the name unique
      var options = {
        timeout: 3,
        onSuccess: onConnect,
        onFailure: onFailure,
      };
      mqtt.onMessageArrived = onMessageArrived;
      mqtt.connect(options);
    }

    function add_breadcrumb(text, content_id){
      console.log("add_breadcrumb:", text, content_id);
      var breadcrumbs = document.getElementById("library-breadcrumb");
      var breadcrumb = document.createElement("a");
      breadcrumb.innerHTML = text + " &gt; ";
      breadcrumb.className = "library-breadcrumb-" + content_id;
      breadcrumb.onclick = function(){ back_to_breadcrumb(content_id); };
      breadcrumbs.appendChild(breadcrumb);
    }

    function back_to_breadcrumb(content_id){
      console.log("back_to_breadcrumb:", content_id);
      library_hide_content();
      document.getElementById(content_id).style.display = null;
      var breadcrumbs = document.getElementById("library-breadcrumb");
      while(breadcrumbs.lastChild.className != "library-breadcrumb-" + content_id){
        breadcrumbs.removeChild(breadcrumbs.lastChild);
      }
    }

    function library_category(name, tag, url, fn_add){
      console.log("library_category:", name, tag);
      var div_category = document.getElementById("library-" + tag);
      if(!div_category || (div_category.style.display == "none")){
        library_hide_content();
        add_breadcrumb(name, "library-" + tag);
        if(div_category){
          div_category.style.display = null;
        }else{
          var library = document.getElementById("library-content");
          div_category = document.createElement("div");
          div_category.id = "library-" + tag;
          div_category.className = tag + "-list";
          library.appendChild(div_category);
          var request = new XMLHttpRequest();
          request.onload = function(){ fn_add(div_category, JSON.parse(request.responseText)); }
          request.open("GET", url, true);
          request.setRequestHeader("Content-Type", "application/json");
          request.send();
        }
      }
    }

    function add_years(div_years, json_years){
      console.log("add_years:", json_years);
      for(var i = 0; i < json_years.length; i++){
        var div_year = document.createElement("div");
        div_year.className = "year-summary";
        div_year.innerHTML = 
          "<div class=year>" +
            "<a onclick=\"library_year_albums(" + json_years[i] + ")\">" + json_years[i] + "</a>" +
          "</div>" +
          "<div class=playback>" +
            "<button type=button title='Play' onclick='playlist_play(\"year\", " + json_years[i] + ")'>&gt;</button>" +
            "<button type=button title='Add to playlist' onclick='playlist_add(\"year\", " + json_years[i] + ")'>+</button>" +
          "</div>";
        div_years.appendChild(div_year);
      }
    }

    function add_artists(div_artists, json_artists){
      console.log("add_artists:", json_artists);
      for(var i = 0; i < json_artists.length; i++){
        var div_artist = document.createElement("div");
        div_artist.className = "artist-summary";
        div_artist.innerHTML = 
          "<div class=artist>" +
            "<a onclick=\"library_artist_albums(" + json_artists[i].id + ", '" + json_artists[i].name + "')\">" + json_artists[i].name + "</a>" +
          "</div>" +
          "<div class=playback>" +
            "<button type=button title='Play' onclick='playlist_play(\"artist\", " + json_artists[i].id + ")'>&gt;</button>" +
            "<button type=button title='Add to playlist' onclick='playlist_add(\"artist\", " + json_artists[i].id + ")'>+</button>" +
          "</div>";
        div_artists.appendChild(div_artist);
      }
    }

    function library_artist_albums(artist_id, artist_name){
      console.log("library_artist_albums:", artist_id, artist_name);
      var div_artist_albums = document.getElementById("library-artist-" + artist_id + "-albums");
      if(!div_artist_albums || (div_artist_albums.style.display == "none")){
        library_hide_content();
        add_breadcrumb(artist_name, "library-artist-" + artist_id + "-albums");
        if(div_artist_albums){
          div_artist_albums.style.display = null;
        }else{
          var library = document.getElementById("library-content");
          div_albums = document.createElement("div");
          div_albums.id = "library-artist-" + artist_id + "-albums";
          div_albums.className = "album-list";
          library.appendChild(div_albums);
          var request = new XMLHttpRequest();
          request.onload = function(){ add_albums(div_albums, JSON.parse(request.responseText), false); }
          request.open("GET", "/api/library/albums?artist_id=" + artist_id, true);
          request.setRequestHeader("Content-Type", "application/json");
          request.send();
        }
      }
    }

    function add_albums(div_albums, json_albums, show_artist=true){
      for(var i = 0; i < json_albums.length; i++){
        var div_album = document.createElement("div");
        div_album.className="album-summary";
        div_album.innerHTML = 
          "<div class='title'>" +
            "<a onclick=\"library_album_tracks(" + json_albums[i].id + ", '" + json_albums[i].name + "')\">" + json_albums[i].name + "</a>" +
          "</div>";
        if(show_artist){
          div_album.innerHTML += 
            "<div class='artist'>" +
              "<a onclick=\"library_artist_albums(" + json_albums[i].artist_id + ", '" + json_albums[i].artist + "')\">" + json_albums[i].artist + "</a>" +
            "</div>";
        }
        div_album.innerHTML += 
          "<div class=playback>" +
            "<button type=button title='Play' onclick='playlist_play(\"album\", " + json_albums[i].id + ")'>&gt;</button>" +
            "<button type=button title='Add to playlist' onclick='playlist_add(\"album\", " + json_albums[i].id + ")'>+</button>" +
          "</div>";
        div_albums.appendChild(div_album);
      }
    }

    function library_album_tracks(album_id, album_name){
      var div_album_tracks = document.getElementById("library-album-" + album_id + "-tracks");
      if(!div_album_tracks || (div_album_tracks.style.display == "none")){
        library_hide_content();
        add_breadcrumb(album_name, "library-album-" + album_id + "-tracks");
        if(div_album_tracks){
          div_album_tracks.style.display = null;
        }else{
          // create div & populate
          var library = document.getElementById("library-content");
          div_album_tracks = document.createElement("div");
          div_album_tracks.id = "library-album-" + album_id + "-tracks";
          div_album_tracks.className = "track-list";
          library.appendChild(div_album_tracks);
          var request = new XMLHttpRequest();
          request.onload = function(){ add_album_tracks(div_album_tracks, JSON.parse(request.responseText)); }
          request.open("GET", "/api/library/tracks?sort=tracknum&album_id=" + album_id, true);
          request.setRequestHeader("Content-Type", "application/json");
          request.send();
        }
      }
    }

    function add_album_tracks(div_album_tracks, json_tracks){
      console.log("add_album_tracks:", json_tracks);
      for(var i = 0; i < json_tracks.length; i++){
        var div_track = document.createElement("div");
        div_track.className = "track"
        div_track.innerHTML = 
          "<div class='title'>" + json_tracks[i].tracknum + "</div>" +
          "<div class='title'>" + json_tracks[i].title + "</div>" +
          "<div class=playback>" +
            "<button type=button title='Play' onclick='playlist_play(\"track\", " + json_tracks[i].id + ")'>&gt;</button>" +
            "<button type=button title='Add to playlist' onclick='playlist_add(\"track\", " + json_tracks[i].id + ")'>+</button>" +
          "</div>";
        div_album_tracks.appendChild(div_track);
      }
    }

    function library_hide_content(){
      var library_contents = document.getElementById("library-content").children;
      for(var i = 0; i < library_contents.length; i++){
        library_contents[i].style.display = "none";
      }
    }

    function library_home(){
      library_hide_content();
      document.getElementById("library-categories").style.display = null;
      var breadcrumbs = document.getElementById("library-breadcrumb");
      while(breadcrumbs.lastChild.className != "breadcrumb-root"){
        breadcrumbs.removeChild(breadcrumbs.lastChild);
      }
    }

    function playlist_play(type, id){
      var request = new XMLHttpRequest();
      request.open("PUT", "/api/players/" + selected_player_id + "/playlist/tracks", true);
      request.setRequestHeader("Content-Type", "application/json");
      var json = JSON.stringify({type: type, id: id});
      request.send(json);
    }

    function playlist_add(type, id){
      var request = new XMLHttpRequest();
      request.open("POST", "/api/players/" + selected_player_id + "/playlist/tracks", true);
      request.setRequestHeader("Content-Type", "application/json");
      var json = JSON.stringify({type: type, id: id});
      request.send(json);
    }

    function playlist_delete(player_id, index){
      var request = new XMLHttpRequest();
      request.open("DELETE", "/api/players/" + player_id + "/playlist/tracks/" + index, true);
      request.setRequestHeader("Content-Type", "application/json");
      request.send(JSON.stringify({index: index}));
    }
    
  </script>
  <head>
    <title>Now Playing...</title>
  </head>
  <body>
    <script>
      MQTTConnect();
    </script>
    <div class=page>
      <div id="players-list" class=players>
        <h1>Players</h1>
      </div>
      <div class=row>
        <div id=playlists class="column playlist">
          <h1>Playlist</h1>
          <div>Show played tracks<input type=checkbox id="show-played-tracks" onclick="show_hide_played()"/></div>
        </div>
        <div class="column library">
          <div id="library-breadcrumb" class="breadcrumb">
            <a class="breadcrumb-root" onclick="library_home()">Categories &gt; </a>
          </div>
          <div id="library-content">
            <div id="library-categories">       
              <div>
                <a class="category" onclick="library_category('Artists', 'artists', '/api/library/artists', add_artists)">Artists<a/>
              </div>
              <div>
                <a class="category" onclick="library_category('Albums', 'albums', '/api/library/albums', add_albums)">Albums<a/>
              </div>
              <div>
                <a class="category" onclick="library_category('Years', 'years', '/api/library/years', add_years)">Years<a/>
              </div>
              <div>
                <a class="category" onclick="library_category('New Music', 'new-music', '/api/library/albums?sort=new', add_albums)">New Music<a/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
